Repository iCarto/utentes: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, stylelint, prettier, flake8

black:
  name: black
  entry: black
  language: system
  verbose: true

isort:
  name: isort
  entry: isort
  language: system
  verbose: true

stylelint:
  name: stylelint
  entry: npx stylelint
  args:
  - --fix
  - --ignore-path
  - .ignore
  language: system
  verbose: true

prettier:
  name: prettier
  entry: npx prettier
  args:
  - --write
  - --ignore-path
  - .ignore
  language: system
  verbose: true

flake8:
  name: flake8
  entry: flake8
  language: system
  verbose: true

Fix HACKING format
  HACKING.md
Due: prettier

Improves HACKING.md
  HACKING.md
Due: prettier

Fixes bug. Shows correct long name for DGBL, DBLIC when printing licenses
  back/utentes/static/services/PrintService.js
Due: prettier

Fix buttonTitle bug^Cn divisoes export button refs #3356
  back/utentes/static/views/search/ButtonExportXLSDivisoesView.js
Due: prettier

Add exploration map in licensing and renewals modules. refs #3492
  back/utentes/static/css/renovacoes.css
  back/utentes/static/css/requerimento-pendente.css
  back/utentes/static/views/common/MapViewProcess.js
  back/utentes/static/views/pendentes/ViewJuridico1.js
  back/utentes/static/views/pendentes/ViewJuridico2.js
  back/utentes/static/views/pendentes/ViewSecretaria1.js
  back/utentes/static/views/pendentes/ViewSecretaria2.js
  back/utentes/static/views/pendentes/ViewTecnico1.js
  back/utentes/static/views/renovacoes/ViewJuridico1.js
  back/utentes/static/views/renovacoes/ViewJuridico2.js
  back/utentes/static/views/renovacoes/ViewJuridicoDados.js
  back/utentes/static/views/renovacoes/ViewSecretaria0.js
  back/utentes/static/views/renovacoes/ViewSecretaria1.js
  back/utentes/static/views/renovacoes/ViewSecretaria2.js
  back/utentes/static/views/renovacoes/ViewTecnico.js
Due: stylelint, prettier

Delete MapView in licensing, renewals and billing modules. refs #3492
  back/utentes/static/facturacao.js
  back/utentes/static/renovacao.js
  back/utentes/static/requerimento-pendente.js
  back/utentes/static/utils/nextExpToShow.js
  back/utentes/templates/facturacao.jinja2
  back/utentes/templates/renovacao.jinja2
  back/utentes/templates/requerimento-pendente.jinja2
Due: stylelint, prettier

Remove 'requerimento' tab and general restyling. refs #3492
  back/utentes/static/css/base.css
  back/utentes/static/css/facturacao.css
  back/utentes/static/css/renovacoes.css
  back/utentes/static/css/requerimento-pendente.css
  back/utentes/static/facturacao.js
  back/utentes/static/renovacao.js
  back/utentes/static/requerimento-pendente.js
  back/utentes/static/views/common/TabBarTitle.js
  back/utentes/static/views/facturacao/ViewFacturacao.js
  back/utentes/static/views/pendentes/View1.js
  back/utentes/static/views/pendentes/ViewJuridico1.js
  back/utentes/static/views/pendentes/ViewJuridico2.js
  back/utentes/static/views/pendentes/ViewSecretaria1.js
  back/utentes/static/views/pendentes/ViewSecretaria2.js
  back/utentes/static/views/pendentes/ViewTecnico1.js
  back/utentes/static/views/pendentes/ViewWeapExportButton.js
  back/utentes/static/views/renovacoes/View1.js
  back/utentes/static/views/renovacoes/ViewJuridico1.js
  back/utentes/static/views/renovacoes/ViewJuridico2.js
  back/utentes/static/views/renovacoes/ViewJuridicoDados.js
  back/utentes/static/views/renovacoes/ViewSecretaria0.js
  back/utentes/static/views/renovacoes/ViewSecretaria1.js
  back/utentes/static/views/renovacoes/ViewSecretaria2.js
  back/utentes/static/views/renovacoes/ViewTecnico.js
  back/utentes/templates/facturacao.jinja2
  back/utentes/templates/renovacao.jinja2
  back/utentes/templates/requerimento-pendente.jinja2
Due: stylelint, prettier

Refactor exploration map in lincensing and renewals modules. refs #3492
  back/utentes/static/views/common/MapViewProcess.js
  back/utentes/static/views/pendentes/View1.js
  back/utentes/static/views/pendentes/ViewJuridico2.js
  back/utentes/static/views/pendentes/ViewSecretaria2.js
  back/utentes/static/views/pendentes/ViewTecnico1.js
  back/utentes/static/views/renovacoes/View1.js
  back/utentes/static/views/renovacoes/ViewJuridico1.js
  back/utentes/static/views/renovacoes/ViewJuridico2.js
  back/utentes/static/views/renovacoes/ViewSecretaria0.js
  back/utentes/static/views/renovacoes/ViewSecretaria1.js
  back/utentes/static/views/renovacoes/ViewSecretaria2.js
  back/utentes/static/views/renovacoes/ViewTecnico.js
Due: prettier

Minor adjustements after repo reorganization
  server/apache-settings/utentes.conf.dev
  tools/devops/config.py
Due: black, isort, flake8

Add Exploracoes cluster display by MarkerCluster library. refs #3530
  back/utentes/static/vendor/leaflet-markercluster-1.4.1/MarkerCluster.Default.css
  back/utentes/static/vendor/leaflet-markercluster-1.4.1/MarkerCluster.css
  back/utentes/static/vendor/leaflet-markercluster-1.4.1/leaflet.markercluster.js
  back/utentes/static/vendor/leaflet-markercluster-1.4.1/leaflet.markercluster.js.map
  back/utentes/static/views/search/MapView.js
  back/utentes/templates/exploracao-search.jinja2
Due: stylelint, prettier

Update css to improve state display. refs #3492
  back/utentes/static/css/facturacao.css
  back/utentes/templates/requerimento-new.jinja2
Due: stylelint

Renovacoes api now returns the full Exploracao
  back/utentes/api/renovacao.py
Due: black, isort, flake8

Small refactoring to move encapsulate database requests
  back/utentes/api/renovacao.py
  back/utentes/repos/exploracao_repo.py
Due: black, isort, flake8

Adds __init__ file to force copy the package in setup install
  back/utentes/lib/utils/__init__.py
Due: black, isort, flake8

New version: 220921
  back/monitoring/__init__.py
  back/setup.py
Due: black, isort, flake8

Formatting changes and new server scripts
  HACKING.md
  back/setup.py
  back/utentes/erp/model.py
  db/deploy/public_schema_owner.sql
  server/add_default_user.sh
  server/apache-settings/http2https.conf
  server/apache-settings/utentes-ssl.conf
  server/apache-settings/utentes-ssl.conf.prod
  server/apache-settings/utentes.conf.prod
  server/bootstrap.sh
  server/config_ssh.sh
  server/config_time.sh
  server/create_python_virtualenv_project.sh
  server/disable_not_needed_services.sh
  server/do_dist_upgrade.sh
  server/first_time_deploy.sh
  server/install_apache.sh
  server/install_gdal.sh
  server/install_letsencrypt.sh
  server/install_node_and_npm.sh
  server/install_others.sh
  server/install_postgres.sh
  server/install_pyenv.sh
  server/install_tomcat7.sh
  server/install_ufw.sh
  server/load_pyenv.sh
  server/other-settings/sirha_monthly_tasks
  server/own-settings/database_roles.sql
  server/restart_apache.sh
  server/set_hostname_and_ip.sh
  server/variables.ini
  tools/backup_db_prod.sh
  tools/devops/sirha_monthly_tasks.py
  tools/upload_and_dump_all.sh
Due: black, isort, prettier, flake8

Removes some metadata from package.json
  package.json
Due: prettier

Adds Fail2bain installation scripts
  server/bootstrap.sh
  server/fail2ban-settings/configure_apache.sh
  server/fail2ban-settings/configure_postgresql.sh
  server/fail2ban-settings/configure_redmine.sh
  server/fail2ban-settings/configure_ssh.sh
  server/fail2ban-settings/configure_wordpress.sh
  server/fail2ban-settings/filters/postgresql.conf
  server/fail2ban-settings/filters/redmine.conf
  server/fail2ban-settings/filters/wordpress.conf
  server/install_fail2ban.sh
  server/install_postgres.sh
  server/variables.ini
Due: none

Fixes typing_extension library version
  back/setup.py
Due: black, isort, flake8

Fixes wrong script path
  server/first_time_deploy.sh
Due: none

Moves some fail2ban specific variables to their own script
  server/install_fail2ban.sh
  server/variables.ini
Due: none

update Cooperacion Galega logo #3921
  back/utentes/static/img/ARA_footer.png
Due: none

Update DSU department names .Refs #3927
  back/users/user_groups.py
  back/utentes/models/constants.py
  back/utentes/models/estado_renovacao.py
  back/utentes/templates/set-ara-variable.jinja2
Due: black, isort, stylelint, flake8

Changes names, and tooltips for departaments
  db/deploy/3927_changes_in_departaments_names.sql
  db/revert/3927_changes_in_departaments_names.sql
  db/sqitch.plan
  db/verify/3927_changes_in_departaments_names.sql
Due: none

add scroll to historical invoices component and css tweaks. refs #3929
  back/utentes/static/css/facturacao.css
  back/utentes/static/views/facturacao/ViewFactura.js
  back/utentes/static/views/facturacao/ViewFacturacaoHistorico.js
Due: stylelint, prettier

automate consumption rates and billing based on exploration size. Refs 3947
  back/utentes/models/constants.py
  back/utentes/models/exploracao.py
  back/utentes/services/exp_size_billing_service.py
  back/utentes/static/models/Exploracao.js
  back/utentes/static/services/exp_size_billing_service.js
  back/utentes/templates/base.jinja2
  back/utentes/tests/fixtures/create_invoice.py
Due: black, isort, stylelint, prettier, flake8

language correction of warning messages. refs #3947
  back/utentes/static/models/LicenciaSchema.js
  back/utentes/static/views/pendentes/ViewTecnico1.js
  back/utentes/static/views/renovacoes/View1.js
  back/utentes/static/views/renovacoes/ViewSecretaria2.js
  back/utentes/static/views/renovacoes/ViewTecnico.js
Due: prettier

warning messages linked to automate consumption types and billing. Refs 3947
  back/utentes/static/css/alert-system.css
  back/utentes/static/views/common/ExpSizeBillingAlert.js
  back/utentes/static/views/renovacoes/ViewJuridicoDados.js
  back/utentes/static/views/show/ExploracaoShowView.js
  back/utentes/templates/exploracao-show.jinja2
  back/utentes/templates/renovacao.jinja2
Due: stylelint, prettier

add vertical scroll to crop table in exploracao show view. Refs 3947
  back/utentes/static/css/exploracao-show.css
  back/utentes/templates/exploracao-show.jinja2
Due: stylelint

improving design of BlockInfoLicenseView. Refs #3947
  back/utentes/static/views/common/BlockInfoLicenseView.js
  back/utentes/templates/exploracao-show.jinja2
Due: stylelint, prettier

css tweaks on historical invoices component. Refs #3929
  back/utentes/static/css/facturacao.css
Due: stylelint

Fixes not declared variable evaluated_value
  back/utentes/static/views/common/ExpSizeBillingAlert.js
Due: prettier

Fixes bug. `payments` only exists on certain cases.
  back/utentes/static/views/show/LicenseModalView.js
Due: prettier

Sets october-23 as the minimun date to export exps to Primavera
  back/utentes/erp/model.py
Due: black, isort, flake8

Pushes package-lock.json
  package-lock.json
Due: prettier

Workaround for installing the project
  back/setup.py
  requirements-dev.txt
Due: black, isort, flake8

Missing constant declaration in js strict mode
  back/utentes/static/views/common/ExpSizeBillingAlert.js
Due: prettier

Updates fact_tipo in all workarounds to calculate fact_tipo and tipo_consumo
  back/utentes/static/models/Exploracao.js
Due: prettier

New version: 230919
  back/setup.py
  db/deploy/new_version_230919.sql
  db/revert/new_version_230919.sql
  db/sqitch.plan
  db/tests/new_version_230919.sql
  db/verify/new_version_230919.sql
Due: black, isort, flake8

Fixes not needed update table version
  db/deploy/new_version_230919.sql
  db/revert/new_version_230919.sql
  db/tests/new_version_230919.sql
Due: none

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  stylelint: any of: \.(vue|htm|html|css|sss|less|scss|sass|mak|mako|jinja2)$
  prettier: any of: \.(js|json|md|vue|yaml|yml)$
  flake8: any of: \.py$
