Repository iCarto/utentes: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, stylelint, prettier, flake8

black:
  name: black
  entry: black
  language: system
  verbose: true

isort:
  name: isort
  entry: isort
  language: system
  verbose: true

stylelint:
  name: stylelint
  entry: npx stylelint
  args:
  - --fix
  - --ignore-path
  - .ignore
  language: system
  verbose: true

prettier:
  name: prettier
  entry: npx prettier
  args:
  - --write
  - --ignore-path
  - .ignore
  language: system
  verbose: true

flake8:
  name: flake8
  entry: flake8
  language: system
  verbose: true

Adds CentroCusto to the exported clients spreadsheet file
  back/utentes/erp/clients.py
Due: black, isort, flake8

Invoices exported to Primavera have consumo and taxa fixa multiplied by the billing period.
  back/utentes/erp/invoices.py
Due: black, isort, flake8

Uses IVA of 0 by default for ARA-Sul
  back/utentes/static/tenant-custom-code.js
Due: prettier

Exploracaoes that are exported to Primavera are sorted first in facturacao page
  back/utentes/api/facturacao.py
  back/utentes/models/exploracao.py
  back/utentes/repos/exploracao_list.py
  back/utentes/repos/exploracao_repo.py
  back/utentes/static/facturacao.js
  back/utentes/static/utils/PrimaveraCollectionComparator.js
  back/utentes/templates/facturacao.jinja2
Due: black, isort, stylelint, prettier, flake8

Changes icon for primavera exploracaos
  back/utentes/templates/facturacao.jinja2
Due: stylelint

Allows to export to primavera in csv refs #3357
  back/utentes/api/weap.py
  back/utentes/erp/clients.py
  back/utentes/erp/invoices.py
  back/utentes/erp/response.py
  back/utentes/services/csv_writer.py
  back/utentes/services/pyramid_response.py
Due: black, isort, flake8

Adds sirha_weekly_tasks
  server/other-settings/sirha_weekly_tasks
Due: none

Improves backup script
  server/other-settings/sirha_weekly_tasks
Due: none

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  stylelint: any of: \.(vue|htm|html|css|sss|less|scss|sass|mak|mako|jinja2)$
  prettier: any of: \.(js|json|md|vue|yaml|yml)$
  flake8: any of: \.py$
